/*------------------------------------*\
    # component.listitem
\*------------------------------------*/

.listitem--box {
    display: flex;
    align-items: center;
    border: 1px solid grey;
    padding: $unit $unit;
}

.listitem--round {
    border-radius: 2% / 20%;
}

.listitem--category {
    align-items: center;
    justify-content: center;
}

.listitem--empty {
    padding: calc($unit * 3) calc($unit * 4);
    font-size: $font-size-med;
}

.listitem--wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.listitem--wrapper .text--wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 calc($unit * 3);
}

.listitem--wrapper .button-wrapper {
    display: flex;
    flex-direction: row;
}

.listitem--title {
    font-size: $font-size-med;
}

.listitem--description {
    font-size: $font-size-sml;
}

.listitem--shadow {
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.2);
}
