/*------------------------------------*\
    # component.btn
\*------------------------------------*/

.btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    border: none;
    justify-content: center;
    outline: none;
    cursor: pointer;
    background: transparent;
    font-family: $ff-lora;
    color: $color-light;
}

.btn--primary {
    &:hover,
    &:focus {
        transition: background-color 0.5s ease-out;
        background-color: $color-light-primary;
    }
}

.btn--icon {
    svg {
        fill: currentColor;
    }
}

.btn--secondary {
    &:hover,
    &:focus {
        transition: background-color 0.5s ease-out;
        background-color: $color-light-secondary;
    }
}

.btn--neutral {
    &:hover,
    &:focus {
        transition: background-color 0.5s ease-out;
        background-color: $color-light-neutral;
    }
}

.btn--font-sml {
    font-family: $ff-roboto;
    font-size: $font-size-sml;
}

.btn--font-med {
    font-family: $ff-lora;
    font-size: $font-size-med;
}

.btn--font-lrg {
    font-family: $ff-lora;
    font-size: $font-size-lrg;
}

.btn--circle {
    border-radius: 50%;
}

.btn--elipsoid {
    border-radius: 2% / 20%;
}

.btn--size-sml {
    padding: calc($unit * 2) calc($unit * 2);
}

.btn--size-med {
    padding: calc($unit * 3) calc($unit * 10);
}

.btn--size-lrg {
    width: 100%;
    padding: calc($unit * 3) calc($unit * 25);
}

.btn--shadow-low {
    box-shadow: 0 3.1px 5.7px -10px rgba(0, 0, 0, 0.044),
        0 10.3px 19px -10px rgba(0, 0, 0, 0.066),
        0 46px 85px -10px rgba(0, 0, 0, 0.11);
}

.btn--wrapper-end {
    display: flex;
    justify-content: flex-end;
}

.btn--wrapper-center {
    display: flex;
    justify-content: center;
}
