/*------------------------------------*\
    # component.btn
\*------------------------------------*/

.btn {
    position: relative;
    display: inline-flex;
    align-items: center;

    cursor: pointer;
    background: transparent;
}

.btn--primary {
}

.btn--secondary {
}

.btn--back {
    background: transparent;

    &:hover,
    &:focus {
        background-color: $color-light-primary;

        svg {
            fill: white;
        }
    }
}

.btn--header {
    border: none;
    outline: none;
    margin: 0 $unit;

    font-size: 18px;

    &:hover {
        background-color: $color-light-primary;
        color: white;
    }
}

.btn--circle {
    border-radius: 50%;
}

.btn--size-sml {
    padding: $unit $unit;
    margin-right: calc($unit * 5);
}

.btn--size-med {
    padding: $unit calc($unit * 5);
}

.btn--size-lrg {
}
