/*------------------------------------*\
    # utils.spacers
\*------------------------------------*/

.s {
    &-top {
        &--sml {
            margin-top: calc($unit * 2);
        }

        &--med {
            margin-top: calc($unit * 4);
        }

        &--lrg {
            margin-top: calc($unit * 6);
        }
    }

    &-right {
        &--sml {
            margin-right: calc($unit * 2);
        }

        &--med {
            margin-right: calc($unit * 4);
        }

        &--lrg {
            margin-right: calc($unit * 6);
        }
    }

    &-bottom {
        &--sml {
            margin-bottom: calc($unit * 2);
        }

        &--med {
            margin-bottom: calc($unit * 4);
        }

        &--lrg {
            margin-bottom: calc($unit * 6);
        }
    }

    &-left {
        &--sml {
            margin-left: calc($unit * 2);
        }

        &--med {
            margin-left: calc($unit * 4);
        }

        &--lrg {
            margin-left: calc($unit * 6);
        }
    }
}
