/*------------------------------------*\
    # view.login
\*------------------------------------*/

.v-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10% 25%;
}

.v-login-title {
    font-family: $ff-lora;
    font-size: $font-size-lrg;
}

.v-login--link {
    text-decoration: none;
    align-self: flex-start;
    font-family: $ff-roboto;
    font-size: $font-size-med;
}

.v-login-button-wrapper {
    display: flex;

    @media screen and (max-width: 747px) {
        flex-direction: column;
    }
}
