/*------------------------------------*\
    # view.home
\*------------------------------------*/

.v--home-wapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: calc($unit * 2) 5%;
}

.v--home-anonymous-text {
    margin: calc($unit * 5) calc($unit * 8);
    font-size: $font-size-lrg;
    color: $color-warning;
    text-align: center;
}
