/*------------------------------------*\
    # view.add-screen
\*------------------------------------*/

.v--add {
}

.v--add-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: calc($unit * 4) calc($unit * 4);
}

.v--add-time {
    width: 450px;
    padding: calc($unit * 4) calc($unit * 5);
}
