/*------------------------------------*\
    # view.update-screen
\*------------------------------------*/

.v--update {
}

.v--update-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: calc($unit * 4) 5%;
}
