/*------------------------------------*\
    # view.home
\*------------------------------------*/

.v--home-wapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: calc($unit * 2) 5%;
}

.v--home-anonymous-text {
    padding: calc($unit * 2) calc($unit * 8);
    font-family: $ff-lora;
    font-size: $font-size-lrg;
}

.v--home-button-wrapper {
    width: 100%;
}
